#footer p {
    float: left; color: #d3d3d3; padding: 10px 0 0 5px;
}
#footer p a {
    color: #d3d3d3;
}
#footer img {
    float: right;
}

.profile-image {
  background: url("/static/images/mhc.jpg") no-repeat -3px 0;
  background-size: 165px 165px;
  width: 160px;
  height: 160px;
  float: left;
  border-radius: 50%;
  margin: 20px 0 10px 50px;

}
#header-text {
    float: left;
    max-width: 340px;
    box-sizing: border-box;
}
