#footer{
    font-family: 'DroidSerifRegular';
    font-size: 11px;
    margin-top: 150px;
    width: 100%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
#wrapper{
  height:100%;

}
.profile-image {
  background: url("/static/images/mhc.jpg") no-repeat -3px 0;
  background-size: 165px 165px;
  width: 160px;
  height: 160px;
  float: left;
  border-radius: 50%;
  margin: 20px 0 10px 50px;

}

#header-text {
    float: left;
    max-width: 340px;
}

#social {
  Text-decoration: none;
  outline: none;
  border: 0px none transparent;
}
