{% extends "layout.html" %}
{% block container %}
<div class="one-third column">
    <h3>Om Martin?</h3>
    <p>24 årig student med fagbrev innen serviceelektronikerfaget, og en lidenskap for det meste innen data, elektronikk og teknologi Er for tiden inne i det andre året på Dataingeniør-linjen ved HiST.</p>
    <p>Jeg vil beskrive meg selv som en tålmodig og nøye person. Liker å tenke fremover. I følge <a href="http://www.belbin.com/">Belbin</a>, har jeg personlighetstrekkene som egner seg til implementer, monitor evaluator og plant.</p>
</div>
<div class="one-third column">
    <h3>Spesielt opptatt av:</h3>
    <p></p>
    <ul class="square">
        <li><strong>Å lære nye ting</strong>: Programmeringsverden er ubegrenset, og det eneste som setter grenser er tid, og ens nysgjerrighet/trang for å lære mer. Jeg liker å kjøre personlige prosjekter på fritiden for å skaffe meg flere verktøy i verktøyskrinet.</li>
        <li><strong>Musikk</strong>: Stor tilhenger av <a href="http://www.youtube.com/watch?v=W45aUl7PXBU">post-rock</a>, <a href="http://www.youtube.com/watch?v=mehLx_Fjv_c">elektronika</a>, <a href="http://www.youtube.com/watch?v=4UtIDlWk2D0">trip-hop</a>, <a href="http://www.youtube.com/watch?v=s7pF6_PeamU">jazz-hop</a> og <a href="http://www.youtube.com/watch?v=2EvWkUuALGg">funk</a>. </li>
    </ul>
</div>
<div class="one-third column">
    <h3>Prosjekter</h3>
    <ul class="square">
        <li><strong>In-house indikator for neste bussavgang</strong>: Benytte Raspberry pi og 4-linjers LCD-display til å vise en konstant oppdatert avgangstid fra vår nærmeste bussholdeplass. Programmet skrives i Python, og henter sanntidsdata fra AtB. Status: Kabling mellom LCD og pi er komplett. Opprettet kommunikasjon. </li>
        <li><strong>Dette nettstedet</strong>: Benytter <a href="http://flask.pocoo.org/">Flask</a>, et Python micro-framework til back-end. Fortsatt under utvikling, og har den hensikt å gi trening i Python, og web-utvikling. Så langt har jeg konkludert med at Flask er en drøm å jobbe med over SpringMVC. Men på en annen side er ikke dette et veldig stort prosjekt. Planer: Skrive et CMS for en kommende tech-blogg.</li>
        <li><strong>2D sidescroller i Unity</strong>: Har fått i oppdrag å skrive det meste av grunnmekanikken til et spillprosjekt innad i kompis-gjengen. Dette vil bestå av script skrevet i C#, og vil gi god innføring i dette språket.
        </li>
    </ul>

</div>

{% endblock %}
