<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>Home of Martin Hagerup</title>
	<meta name="description" content="">
	<meta name="author" content="Martin Hagerup">


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


	<link rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/default.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/skeleton.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/layout.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css')}}">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="http://yandex.st/highlightjs/7.5/highlight.min.js"></script>
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png')}}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png')}}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png')}}">
	<script>hljs.initHighlightingOnLoad();</script>
	<script type="text/javascript">

  	var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-46374019-2']);
  	_gaq.push(['_trackPageview']);

  	(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	})();

</script>

</head>
<body>
	<div class="container">
		<div class="sixteen columns">
    <section id="header-text">
        <h1 class="remove-bottom" style="margin-top: 40px">
            Martin Hagerup
        </h1>
        <h5>Software Engineering Student</h5><br>
        <a id="social" href="mailto:martin.hagerup@gmail.com">
            <img src="{{ url_for('static', filename='images/social/email.png')}}">
        </a>
        <a id="social" href="https://www.facebook.com/martin.hagerup">
            <img src="{{ url_for('static', filename='images/social/fjes.png')}}">
        </a>
        <a id="social" href="https://twitter.com/martihag">
            <img src="{{ url_for('static', filename='images/social/bird.png')}}">
        </a>
        <a id="social" href="https://github.com/martihag">
            <img src="{{ url_for('static', filename='images/social/github.png')}}">
        </a>
        <a id="social" href="http://linkedin.com/profile/view?id=240937859">
            <img src="{{ url_for('static', filename='images/social/in.png')}}">
        </a>
    </section>
    <section id="header-img">
        <div class="profile-image"></div>
    </section>
    <hr/>
</div>
		{% block container %}
		{% endblock %}
	</div><!-- container -->
	<div id="footer">
			© 2013 Martin Hagerup. Powered by Flask and Skeleton.
	</div>
</body>
</html>
